body {
	margin: 0px;
}


.bg {
	margin: 0px;
	background: url('img/img.jpeg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	width: 100px;
	height: 80px;
}

ul {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

li {
	margin: 10px;
	padding: 5px;
	list-style-type: none; 
}

a {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.bloc {
	height: 500px;
	width: 25%;
	background-color: #fff;
	margin-left: 250px;
	margin-top: 50px;
	border-radius: 10px;
	padding: 40px
}

h1 {
	color: #333B3A;
}

input {
	height: 35px;
	width: 100%;
	align-content: center;
	border-radius: 5px;
}

h4 {
	color: #333B3A;	
}

.input_2et3 {
	display: flex;
}

.input_2et3 div {
	width: 50%;
}

select {
	width: 100%;
	height: 35px;
}

button {
	width: 50%;
	height: 35px;
	background-color: #E50E72;
	text-align: center;
	font-weight: bold;
	color: #fff;
	justify-content: center;
	
}

.button {
	margin-top: 25px;
	text-align: right;

}

p {
	color: #fff;
}
	
.select {
	display: flex;
	border-radius: 10px;
}

.select div {
	width: 50%;
	
}